<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".smile" />
      <mimeMap fileExtension=".smile" mimeType="text/plain" />
      <remove fileExtension=".smileproj" />
      <mimeMap fileExtension=".smileproj" mimeType="text/plain" />
      <remove fileExtension=".ps1" />
      <mimeMap fileExtension=".ps1" mimeType="text/plain" />
    </staticContent>
  </system.webServer>
</configuration>
